<template>
  <div style="min-height: 100vh; background-color: #ececec">
    <template v-if="!logged && !loginError">
      <div class="d-flex justify-content-center align-items-center">
        <b-spinner style="width: 5rem; height: 5rem;" class="m-5" />
      </div>
    </template>
    <template v-else-if="loginError">
      <b-alert show>
        Erro ao carregar a página. Tente novamente, por favor
      </b-alert>
    </template>
    <template v-else>
      <custom-header />
      <nuxt />
      <donation-form />
      <acquire-donation-btn />
      <custom-footer />
    </template>
  </div>
</template>

<script>
import CustomHeader from './deafault/header'
import CustomFooter from './deafault/footer'
import AcquireDonationBtn from '@/components/AcquireDonationBtn'
import DonationForm from '@/components/DonationForm'
import config from '@/config'
export default {
  components: {
    CustomHeader,
    CustomFooter,
    AcquireDonationBtn,
    DonationForm
  },
  head () {
    return {
      script: [
        { src: `https://www.paypal.com/sdk/js?client-id=${config.paypalClientID}&currency=BRL&locale=pt_BR` }
      ]
    }
  },
  data () {
    return {
      logged: false,
      loginError: false
    }
  },
  mounted () {
    this.$auth()
      .signInAnonymously()
      .then(() => {
        this.logged = true
        this.$analytics() // start Firebase Analytics
      })
      .catch(() => {
        this.loginError = true
      })
  }
}
</script>

<style>
</style>
