<template>
  <div>
    <h4>O que deseja adicionar ao mural?</h4>
    <b-row class="mt-4">
      <b-col>
        <b-button block variant="primary" @click="chooseFormat('image')">
          Imagem
        </b-button>
      </b-col>
      <b-col>
        <b-button block variant="info" @click="chooseFormat('text')">
          Texto
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  methods: {
    chooseFormat (format) {
      const formatState = {
        image: 'upload_image',
        text: 'write_text'
      }
      this.$emit('formatChosen', formatState[format])
    }
  }
}
</script>

<style>

</style>
