<template>
  <b-modal
    v-model="opennedDonationForm"
    @hide="clear"
    hide-footer
    :size="getModalSize"
    title="Doar para Mural COVID (mínimo R$ 5,00)"
  >
    <template v-if="state == 'choose_format'">
      <choose-format @formatChosen="setState" />
    </template>

    <template v-else-if="state === 'write_text'">
      <write-text @textWrote="setDonation" />
    </template>

    <template v-else-if="state === 'upload_image'">
      <upload-image @imageChosen="setDonation" @imageError="imageSizeError" />
    </template>

    <template v-else-if="state === 'paying'">
      <pay-donation @paymentCompleted="showDonationCongrats" />
    </template>

    <template v-else-if="state === 'paid'">
      <paid />
    </template>
  </b-modal>
</template>

<script>
import ChooseFormat from './ChooseFormat'
import WriteText from './WriteText'
import UploadImage from './UploadImage'
import PayDonation from './PayDonation'
import Paid from './Paid'
export default {
  components: {
    ChooseFormat,
    WriteText,
    UploadImage,
    PayDonation,
    Paid
  },
  data () {
    return {
      state: 'choose_format' // states of the donation: 1-choose_format; 2.1-upload_image; 2.2-write_text; 3-editing; 4-paying; 5-paid
    }
  },
  methods: {
    setState (state) {
      this.state = state
    },
    setDonation () {
      this.setState('paying')
    },
    async showDonationCongrats () {
      const allRefId = String(Date.now())
      const donationObject = { ...this.donationObject }
      const paymentDetails = this.paymentDetails ? this.paymentDetails : 'no-details'

      await this.$storage().ref(`donations/${allRefId}`).putString(donationObject.image_blob, 'data_url') // upload to storage

      delete donationObject.image_blob

      await this.$firestore().collection('wall_donations').doc(allRefId).set({
        donationObject,
        paymentDetails,
        status: 'pending'
      }) // save into firestore

      // saves it with the Firebase ID equal to Storage REF for referencing which other

      this.state = 'paid'
      this.$bvToast.toast('Doação realizada!', {
        title: 'Obrigado por ajudar!',
        autoHideDelay: 6000,
        appendToast: true,
        variant: 'success'
      })
    },
    imageSizeError (message) {
      this.clear()
      this.$bvToast.toast(message, {
        title: 'Erro na imagem',
        autoHideDelay: 6000,
        appendToast: true,
        variant: 'danger'
      })
    },
    clear () {
      setTimeout(() => {
        this.state = 'choose_format'
      }, 500)
    }
  },
  computed: {
    getModalSize () {
      const size = 'lg'
      // size = this.state === 'paying' ? 'md' : size
      return size
    },
    donationObject () {
      return this.$store.state.donationObject
    },
    paymentDetails () {
      return this.$store.state.paymentDetails
    },
    opennedDonationForm: {
      get () {
        return this.$store.state.opennedDonationForm
      },
      set () {
        this.$store.commit('closeDonationForm')
      }
    }
  }
}
</script>

<style>

</style>
