<template>
  <div>
    <b-card class="shadow">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-success">Obrigado por ajudar {{ paymentDetails.payer.name.given_name }}!</h1>
        <b-img class="mt-2 mb-2" :src="donationObject.image_blob" />
        <h2 class="text-muted text-center">Dentro de alguns minutos sua imagem aparecerá no mural!</h2>
      </div>
    </b-card>
  </div>
</template>

<script>
export default {
  mounted () {
    setTimeout(() => {
      this.$store.commit('closeDonationForm')
    }, 5000)
  },
  computed: {
    paymentDetails () {
      return this.$store.state.paymentDetails
    },
    donationObject () {
      return this.$store.state.donationObject
    }
  },
  beforeDestroy () {
    this.$store.commit('setPaymentDetails', null)
  }
}
</script>

<style>

</style>
