<template>
  <div>
    <b-card class="shadow bg-light mb-3">
      <b-row>
        <b-col>
          <h6 class="d-flex justify-content-center align-items-center"><b>Largura</b>: {{ donationObject.width }} pixels</h6>
        </b-col>
        <b-col>
          <h6 class="d-flex justify-content-center align-items-center"><b>Comprimento</b>: {{ donationObject.height }} pixels</h6>
        </b-col>
      </b-row>
      <div class="d-flex align-items-center justify-content-center mt-2 mb-2">
        <b-img :src="donationObject.image_blob"/>
      </div>
      <b-row>
        <b-col>
          <h6 class="d-flex justify-content-center align-items-center"><b>Total (área)</b>: {{ donationObject.width * donationObject.height }} pixels</h6>
        </b-col>
        <b-col>
          <h6 class="d-flex justify-content-center align-items-center"><b>Valor por pixel</b>: {{ config.pixelPriceInCents | currency }}</h6>
        </b-col>
      </b-row>
    </b-card>
    <b-row>
      <b-col class="d-flex align-items-center justify-content-center mb-2">
        <h3 class="text-dark">Valor da doação: <span class="text-info">{{ donationObject.value | currency }}</span></h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="d-flex align-items-center justify-content-center">
        <!-- btn paypal -->
        <div id="paypal-button-container"></div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import config from '@/config'
export default {
  data () {
    return {
      config,
      loading: {}
    }
  },
  methods: {
    createPayment (data, actions) {
      return actions.order.create({
        application_context: {
          locale: 'pt-BR',
          shipping_preference: 'NO_SHIPPING',
          landing_page: 'BILLING',
          user_action: 'PAY_NOW'
        },
        purchase_units: [{
          amount: {
            value: Number(this.donationObject.value).toFixed(2)
          }
        }]
      })
    },
    async paymentApproved (data, actions) {
      this.loading = this.$loading.show()
      // se chegou aqui, o pagamento foi realizado com sucesso!
      try {
        const details = await actions.order.capture()
        // se conseguir capturar o pagamento
        this.$store.commit('setPaymentDetails', details)
        this.$emit('paymentCompleted')
      } catch (error) {
        console.log(error)
      } finally {
        this.loading.hide()
      }
    },
    paymentError (error) {
      console.log(error)
      this.loading.hide()
      this.$bvToast.toast('Erro no pagamento!', {
        title: 'Tente novamente, por favor!',
        autoHideDelay: 6000,
        appendToast: true,
        variant: 'danger'
      })
    }
  },
  computed: {
    donationObject () {
      return this.$store.state.donationObject
    }
  },
  mounted () {
    window.paypal.Buttons({
      style: {
        shape: 'pill',
        color: 'blue',
        layout: 'vertical',
        label: 'pay'
      },
      createOrder: this.createPayment,
      onApprove: this.paymentApproved,
      onError: this.paymentError
    }).render('#paypal-button-container')
  }
}
</script>

<style>

</style>
