<template>
  <div>
    <h2 class="text-info">Escolha uma imagem de no máximo 100x100 pixels</h2>
    <input
      ref="file_input"
      style="display: none;"
      type="file"
      accept="image/*"
      @change="setImage"
    >
    <div>
      <img style="display: none;" :src="imgSrc" ref="edit_img">
    </div>
  </div>
</template>

<script>
import config from '@/config'
export default {
  data () {
    return {
      imgSrc: '',
      cropper: null
    }
  },
  methods: {
    setImage (e) {
      const file = e.target.files[0]
      const fr = new FileReader()
      fr.onload = () => {
        const image = this.$refs.edit_img
        image.src = fr.result

        image.onload = (e) => {
          const { width, height } = image
          if (width > 100) {
            this.imageError('O comprimento máximo é de 100 pixels')
            return
          } else if (height > 100) {
            this.imageError('A altuma máxima é de 100 pixels')
            return
          }

          this.payDonation()
        }
      }

      fr.readAsDataURL(file)
    },
    imageError (message) {
      this.$emit('imageError', message)
    },
    payDonation () {
      const image = this.$refs.edit_img
      const pixelValue = (image.width * image.height) * config.pixelPriceInCents
      const donationObject = {
        height: image.height,
        width: image.width,
        value: pixelValue.toFixed(2),
        image_blob: image.src
      }

      this.$store.commit('setDonationObject', donationObject)
      this.$emit('imageChosen')
    }
  },
  mounted () {
    this.$refs.file_input.click()
  }
}
</script>

<style>

</style>
