<template>
  <div>
    <b-row>
      <b-col>
        <h5>Digite o texto desejado (35 caracteres)</h5>
        <b-form-input
          v-model="text"
          maxlength="35"
          @input="mountImage"
          placeholder="Digite seu texto aqui..."
        />
        <img ref="image" class="custom__text-img mt-2">
      </b-col>
      <b-col>
        <h5>Opções</h5>
        <b-form-group
          label="Cor do texto"
        >
          <b-form-input size="sm" v-model="customColor" type="color" trim />
        </b-form-group>
        <b-form-group
          label="Cor do fundo"
        >
          <b-form-input size="sm" v-model="customBackgroundColor" type="color" trim />
        </b-form-group>
      </b-col>
    </b-row>

    <b-button
      variant="success"
      block
      :disabled="ableToDonate"
      class="mt-2"
      @click="goToDonation"
    >
      Doar <b>{{ pixelValue | currency }}</b>
    </b-button>

    <canvas
      ref="textCanvas"
      style="display:none"
      :height="25"
    />
  </div>
</template>

<script>
import config from '@/config'
export default {
  data () {
    return {
      text: '',
      customFontSize: 25,
      customColor: '#333333',
      customBackgroundColor: '#eeeeee',
      pixelValue: 0,
      width: 0,
      height: 0
    }
  },
  methods: {
    mountImage () {
      let value = this.text
      if (!value) {
        value = ' '
      }
      const tCtx = this.$refs.textCanvas.getContext('2d')
      const imageElem = this.$refs.image
      tCtx.canvas.width = tCtx.measureText(value).width
      tCtx.font = `${this.customFontSize}px monospace`
      tCtx.fillStyle = this.customBackgroundColor
      tCtx.fillRect(0, 0, tCtx.canvas.width, tCtx.canvas.height)
      tCtx.fillStyle = this.customColor
      tCtx.fillText(value, 0, 19)
      imageElem.src = tCtx.canvas.toDataURL()
      imageElem.onload = this.calcPixels
    },
    calcPixels () {
      if (this.text === '') {
        this.pixelValue = 0
        return
      }
      const imageElem = this.$refs.image
      const { height, width } = imageElem

      this.width = width
      this.height = height

      const centsValue = (height * width) * config.pixelPriceInCents
      this.pixelValue = (centsValue / 100).toFixed(2)
    },
    goToDonation () {
      const imageElem = this.$refs.image

      const donationObject = {
        height: this.height,
        width: this.width,
        value: this.pixelValue,
        image_blob: imageElem.src
      }

      this.$store.commit('setDonationObject', donationObject)

      this.$emit('textWrote')
    }
  },
  computed: {
    ableToDonate () {
      const textIsEmpty = this.text.trim() === ''
      const valueIsLow = this.pixelValue < 5
      return textIsEmpty || valueIsLow
    }
  },
  watch: {
    customFontSize () {
      this.mountImage()
    },
    customHeight () {
      this.mountImage()
    },
    customColor () {
      this.mountImage()
    },
    customBackgroundColor () {
      this.mountImage()
    }
  },
  mounted () {
    this.mountImage()
  }
}
</script>

<style>
.custom__text-img {
  width: auto;
  height: auto;
}
</style>
