<template>
  <div>
    <b-button size="lg" class="custom__action-btn" pill variant="primary" @click="openDonationForm">
      Doar <b-icon-layout-wtf />
    </b-button>
  </div>
</template>

<script>
import { BIconLayoutWtf } from 'bootstrap-vue'
export default {
  components: {
    BIconLayoutWtf
  },
  methods: {
    openDonationForm () {
      this.$store.commit('openDonationForm')
    }
  }
}
</script>

<style>
.custom__action-btn {
  position: fixed;
  top: 65px;
  right: 20vw;
}

@media (max-width: 1200px) {
  .custom__action-btn {
    right: 10vw;
  }
}
@media (max-width: 600px) {
  .custom__action-btn {
    right: 1vw;
  }
}
</style>
