<template>
  <div>
    <template v-if="wallURL === ''">
      <div class="d-flex justify-content-center align-items-center">
        <b-spinner style="width: 5rem; height: 5rem;" class="m-5" />
      </div>
    </template>
    <template v-else>
      <b-img center :src="wallURL" alt="Mural do COVID" fluid />
    </template>
  </div>
</template>

<script>
export default {
  data () {
    return {
      wallURL: ''
    }
  },
  mounted () {
    const wallRef = this.$storage().ref('wall')
    wallRef.getDownloadURL()
      .then((url) => {
        this.wallURL = url
      })
  },
  methods: {
  }
}
</script>

<style>
</style>
