<template>
  <footer class="custom__footer">
    Desenvolvido e hospedado por
    <a href="https://wa.me/5514981135119" target="_blank"> Gabriel Limoni</a>
  </footer>
</template>

<script>
export default {

}
</script>

<style>
.custom__footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;

  color: #888;
  background-color: #cbd7e0;
}
.custom__footer > a {
  color: #444;
}
</style>
